.weather-container {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
    direction: rtl; 
    justify-content: center; 
    padding: 20px; 
  }
  
  .weather-card {
    position: relative;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 1rem;
    background-color: #f0f8ff;
    direction: rtl;
  }
  
  .icon-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
  }
  
  .weather-card:hover {
    transform: scale(1.05); 
    background-color: #e6f7ff; 
  }
  
  body {
    background-color: #b3e5fc; 
    margin: 0; 
    font-family: Arial, sans-serif; 
  }
  